@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

:root {
  --primary-color: #4a76f3;
}

* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f6f8fc;
}

/* Main page */
.main-page {
  height: 100%;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.main-page .ilustration {
  width: auto;
  margin: 10vh auto 20px;
}

.main-page h1,
p,
a {
  color: #424c6d;
}
.main-page h1 {
  font-weight: 700;
}
.main-page p {
  line-height: normal;
  margin: 10px 0 !important;
}

.main-page .contact {
  padding: 5px 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 666px) {
  .main-page .ilustration {
    width: 100%;
  }
}

/* Blog */
.post-card {
  background-color: aquamarine;
}

/* Blog header */

/* SVG Style */
.svg-waves {
  display: block;
}
