@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");

/* Main page */
.main-page {
  height: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.main-page .ilustration {
  width: auto;
  margin: 10vh auto 0;
}

.main-page h1,
p,
a {
  color: #424c6d;
}
.main-page h1 {
  font-weight: 600;
}
.main-page p {
  line-height: normal;
  margin: 15px 0 !important;
}

.main-page .contact {
  padding: 10px 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 666px) {
  .main-page .ilustration {
    width: 100%;
  }
}
